<h1>{{ event.name }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<ul>
    <b>Wydarzenie:</b> &emsp;{{ event.name }} <br>
    <b>Wynik:</b>&emsp; {{ event.home_team_goals }} - {{ event.away_team_goals }} <br>
    <b>Miejsce:</b> &emsp; {{ event.place }}<br>
    <b>Data:</b>&emsp; {{ event.date}}, {{ event.starts }} - {{ event.ends }}<br>
    <b>Ceny biletow:</b>&emsp; {{ event.price }}<br>
    <b>Rodzaj spotkania:</b> &emsp;{{ event.category }} <br>





</ul>


